<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract Text From Image</title>
</head>
<body>
<form action="/extracttextfromimage" method="post" enctype="multipart/form-data">
    <label for="file">Upload Image File:</label>
    <input type="file" name="file" accept="image/*" required id="">
    <button>Extract Text From Image</button>
</form>

<textarea cols="40" rows="40">
        <%=data%>
    </textarea>
</body>
</html>